.memoevo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "memo-list"
        "memo-form"
        "evo-form"
    ;

    margin: 2vh 2vw;

    grid-gap: 20px 10px;

    border: 1px solid black;
}



.memo-list {
    grid-area: memo-list;
}

.evo-form {
    grid-area: evo-form;
}

.memo-form {
    grid-area: memo-form;
    justify-self: center;
    align-self: start;

    display: grid;
    grid-gap: 10px;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 10px 5px;
}

textarea {
    resize: vertical;
}

@media only screen and (min-width: 740px) {
    .memoevo-grid {
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "memo-list memo-form"
            "memo-list evo-form"
    };

    .memo-form {
        justify-self: start;
    }
}