.memoevo-grid {
    display: grid;
    grid-template-columns: 1fr;

    height: 100%;

    margin: 2vh 2vw;

    grid-gap: 20px 5px;

    /* border: 1px dotted red; */
}

.main-item {
    border: 1px solid black;
}

.memo-list {

}

.memo-form {
    display: grid;

    grid-gap: 10px;
}

fieldset, .input-part {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 10px 5px;
    
}
