.cloudcast-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;

    text-align: center;
}

.cloudcast {
    border: 1px dotted black;
}

h3 {
    text-align: center;
}

p {
    text-align: left;
}