<div class="content-wrapper" id="content-wrapper">
    <!-- id used by input strategy to find input-enabled container -->
    <h1 class="title" appMenuItem id="title">Radial Context Menu</h1>
    <div class="description">
        <ul>
            <li>
                Click mouse to activate the menu
            </li>
            <li>
                Rotate mouse around the clicked point to select an item on the menu
            </li>
            <li>
                Release mouse do trigger selected item
            </li>
            <li>
                Move mouse close to the center and release to abort. this also hides the menu
            </li>

        </ul>
    </div>

    <div class="menu-buttons">
        <button id="show-yes-no-menu" appMenuItem
            (mousedown)="showYesNoMenu()">
            YES / NO
        </button>
        <button id="show-random-menu" appMenuItem
            (mousedown)="showRandomMenu()">Random Menu</button>
    </div>

    <div class="minimap" id="minimap" appMenuItem>
        <app-menu-minimap [selectedTargetIndex]="targetIndex"></app-menu-minimap>
    </div>

    <div class="mixcloud">
        <app-mixcloud
            [cloudcasts]="cloudcasts"
        ></app-mixcloud>
    </div>

    <div id="menu" class="radial-menu">
        <app-radial-menu (selectedTargetIndex)="targetIndexUpdate($event)"></app-radial-menu>
    </div>
</div>