<div class="content-wrapper" id="content-wrapper">
    <!-- id used by input strategy to find input-enabled container -->
    <h1 class="title" >Memoevo</h1>
    <!-- <div class="description">
            <ul>
                <li>Create Threads about topics that interest you.</li>
                <li>Add items you find on the web and create your own, personal.</li>
                <li>Over time you will see how f.e. news stories develop.</li>
                <hr/>
                <li>advice: use Firefox or Chrome :) </li>
            </ul>
    </div> -->

    <app-memoevo class="main-content"></app-memoevo>

    <!-- <div class="menu-buttons">
        <button id="show-yes-no-menu" appMenuItem
            (mousedown)="showYesNoMenu()">
            YES / NO
        </button>
        <button id="show-random-menu" appMenuItem
            (mousedown)="showRandomMenu()">Random Menu</button>
    </div> -->
    
    <!-- <div class="minimap">
        <app-menu-minimap [selectedTargetIndex]="targetIndex"></app-menu-minimap>
    </div> -->
<!--
    <div class="main-content">
        <app-mixcloud
            [cloudcasts]="cloudcasts"
        ></app-mixcloud>
    </div>
 -->
    <div id="menu" class="radial-menu">
        <app-radial-menu (selectedTargetIndex)="targetIndexUpdate($event)"></app-radial-menu>
    </div>
</div>