.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 
    "title"
    "description"
    "menu-buttons"
    "minimap"
    "mixcloud"
    ;
    
    justify-items: center;
    align-items: center;
    grid-gap: 10px;

    height: 100vh;
    
    background-color: rgba(36, 202, 105, 0);

    user-select: none;
    
}

@media only screen and (min-width: 740px) {
    .content-wrapper {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, min-content) 1fr;
        grid-template-areas: 
            "title title title title title"
            "description description description minimap minimap"
            ". menu-buttons menu-buttons menu-buttons ."
            "mixcloud mixcloud mixcloud mixcloud mixcloud"
            ;
    }
}


.title {
    grid-area: title;
    /* margin: 0; */
}

.description {
    grid-area: description;
    justify-self: start;
}

.menu-buttons {
    grid-area: menu-buttons;
}

.minimap {
    grid-area: minimap;
}

.mixcloud {
    grid-area: mixcloud;

    justify-self: stretch;
    align-self: stretch;
}