.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 
    "title"
    "description"
    "menu-buttons"
    "minimap"
    /* "radial-menu" */
    ;
    
    height: 100vh;
    justify-items: center;
    align-items: start;
    
    background-color: rgba(36, 202, 105, 0);
    
}

@media only screen and (min-width: 740px) {
    .content-wrapper {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, min-content) 1fr;
        grid-template-areas: 
            "title title title title title"
            "description description description description description "
            "minimap menu-buttons menu-buttons menu-buttons ."
            ;
            /* "radial-menu radial-menu radial-menu radial-menu radial-menu " */
    }
}


.title {
    grid-area: title;
    /* margin: 0; */
}

.description {
    grid-area: description;
}

.menu-buttons {
    grid-area: menu-buttons;
}

.minimap {
    grid-area: minimap;
}

.radial-menu {
    /* grid-area: radial-menu; */
}