.memo-item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
        "thumbnail title btn-delete"
        "thumbnail description description"
        "thumbnail description description"
        "memo-hashtags url btn-add-evo"
    ;


    border: 1px solid black;

    padding: 10px;

    /* justify-self: center;
    width: min-content;
    height: min-content; */
}

.thumbnail {
    grid-area: thumbnail;

    justify-self: start;
    align-self: start;

    border-radius: 50%;
}

.title {
    grid-area: title;
    justify-self: start;
    align-self: start;

    align-self: start;
}

.description {
    grid-area: description;
    justify-self: start;
    align-self: start;
}

.memo-hashtags {
    grid-area: memo-hashtags;
    justify-self: start;
    align-self: start;
}

.url {
    grid-area: url;
    justify-self: start;
    align-self: start;
}

.btn-delete {
    grid-area: btn-delete;
    /* justify-self: end; */
    /* justify-self: start;
    align-self: start; */
}


.btn-add-evo {
    grid-area: btn-add-evo;
    /* justify-self: end; */
    /* justify-self: start;
    align-self: start; */
}



/*  */
button {
    width: 40px;
    height: 40px;
}

img {
    /* width: 10vmin;
    height: 10vmin; */

    max-width: 100px;
    max-height: 100px;
}

h4 {
    margin: 5px;
}

p {
    margin: 5px;
}