<div class="memo-item-grid" (click)="toggleDetails()">
  <img class="thumbnail" src="{{memo.thumbnail}}">

  <ng-template [ngIf]="showDetails">
    <h4 class="title">{{memo.title}}</h4>
    <p class="description">{{memo.description}}</p>
    <p class="memo-hashtags">{{memo.memoHashtags}}</p>
    <!-- <a class="url" *ngIf="memo.url" href="{{memo.url}}" target="_blank">{{memo.url}}</a> -->
    <a class="url" *ngIf="memo.url" href="{{memo.url}}" target="_blank">{{urlForDisplay}}</a>
    <button class="btn-delete" (click)="delete()"><i class="far fa-trash-alt"></i></button>
    <button class="btn-add-evo" (click)="addMemo($event)"><i class="fas fa-plus"></i></button>
  </ng-template>

</div>