.dropdown-menu {
    width: 90vw;
    height: 90vh;

    background: lightgreen;
}

#menuItemContainer {
    position: absolute;
    left: 50%;
    top: 50%;
}

.menu-item {
    position: absolute;
    user-select: none;
}

.mouse-down-marker {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background: #444;
}