<!-- (panstart)="onPanStart($event)" -->
<!-- (panend)="onPanEnd($event)" -->
<div class="point-move-area" appMouseMover (mouseMoved)="mouseMove($event)"
  (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)" (press)="onPress($event)"
  (pressup)="onPressUp($event)" (pan)="onPan($event)" (panmove)="onPanMove($event)" (pancancel)="onPanCancel($event)"
  (panleft)="onPanLeft($event)" (panright)="onPanRight($event)" (panup)="onPanUp($event)" (pandown)="onPanDown($event)"
  appClickOutsideDetector (clickElsewhere)="mouseUpOutside($event)">

<div class="dropdown-menu" >
  <!-- track mouse movement only while the mouse is pressed -->
<!-- </div> -->

<!-- 
  positions items on circle
  
  TODO: find menu-items as children of container: multiple item selections can be used!
  important: filter children by class 'menu-item'. the container may also contain non-item children!
-->

  <div class="mouse-down-marker">
  </div>

  <div class="item-container">
    <div class="menu-item" *ngFor="let itemLabel of menuItemLabels; let i=index"
      [ngStyle]="{'transform': getMenuItemStyle(i) }">
      {{itemLabel}}
    </div>
  </div>

</div>