
/* always top left */
.dropdown-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    
    width: 100%;
    height: 100%;
    
    user-select: none;
    
    /* z-index: 999; */
}

.minimap {
    
}

#menu-item-container {
    border: 1px solid red;
    width: 98%;
    height: 98%;
}

.menu-item {
    position: absolute;
    font-size: 15px;
}


.menuOrigin, .mouse-down-marker {
    /* opacity: 0; */
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid black;

}

.mouse-down-marker {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 0;
    /* pointer-events: none; */
}

.selection-info {
    margin: 0;
}

/* circle slice */
.pie {
    opacity: 1;

    width: 5em;
    height: 5em;
    
    border-radius: 50%;
    /* border: 1px solid black; */
    /* margin: 1em; */
}

.active-circle-sector {
    position: absolute;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}