.dropdown-menu {
    width: 900vw;
    height: 90vh;

    background: lightgreen;
}

#menuItemContainer {
    position: absolute;
    left: 50%;
    top: 50%;
}

.menu-item {
    position: absolute;
}